 <body  class="inventory-body">

    <div class="container">
<table id="wrapper">
    <tr>
        <td>
                <button type="button" class="btn btn-dark btn-lg" routerLink= '/Registration'> <span class="glyphicon glyphicon-trash"></span> Registration</button>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td>
                <button type="button" class="btn btn-dark btn-lg"  routerLink= '/userview'> <span class="glyphicon glyphicon-trash"></span> Patient View</button>
        </td>
        &nbsp;&nbsp;
        <td>
                <button type="button" class="btn btn-dark btn-lg"  routerLink= '/editView'> <span class="glyphicon glyphicon-trash"></span> Edit Mode</button>
        </td>
        &nbsp;&nbsp;
    </tr>
</table>

</div>


    </body>